/*  font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;  */

:root {
  --primary-color: #023859;
  --secondary-color: #56bfb5;
  --tertiary-color: #bf924c;
  --gradient: linear-gradient(
    #023859 0%,
    #1a5e73 50%,
    #297784 70%,
    #44a2a1 100% /*,
    #56bfb5 100%*/
  );
  --font-darkbg: #eaeaea;
  --shadow: 2px 2px 9px 4px rgba(2, 56, 89, 0.2);
  --primary-font: "Merriweather", serif;
  --secondary-font: "Roboto", sans-serif;
}

.row,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--primary-font);
  color: var(--font-darkbg);
  line-height: 1.5;
}

.homepage-content {
  background: var(--gradient);
  background-repeat: no-repeat;
  padding-top: 400px;
  height: 100vh;
  height: 100svh;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h3,
h4 {
  font-style: italic;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

.homepage h1 {
  font-size: 96px;
}

.homepage h2 {
  font-size: 33px;
  font-style: italic;
  font-weight: 300;
  font-family: var(--secondary-font);
  color: var(--tertiary-color);
}

ul {
  list-style: none;
  text-transform: uppercase;
  text-align: right;
}

.links a {
  color: var(--tertiary-color);
  text-decoration: none;
  font-size: 50px;
}

.homepage a:hover {
  text-decoration: underline;

  text-decoration-thickness: 10px;
}

.chevron {
  position: fixed;
  bottom: 40px;
  text-align: center;
}
.chevron a {
  color: var(--tertiary-color);
  font-size: 40px;
}

.reels {
  background-color: var(--tertiary-color);
  padding-top: 150px;
}

.homepage h3 {
  color: var(--primary-color);
}

.video-reel {
  margin-top: 40px;
  position: relative;
  z-index: 2;
}

footer {
  height: 300px;
}

.homepage footer {
  background-color: var(--tertiary-color);
}

@media (max-width: 576px) {
  .signature {
    margin-left: 30px;
  }
  .links {
    margin-right: 30px;
    padding-right: 35px;
  }
  .homepage-content {
    padding-top: 200px;
  }
  .homepage h1 {
    font-size: 40px;
  }
  .homepage h2 {
    font-size: 20px;
  }
  .left-side {
    display: none;
  }
  .links a {
    font-size: 30px;
    line-height: 1.75;
  }
  .chevron {
    bottom: 70px;
    padding-right: 30px;
  }
  .chevron a {
    font-size: 70px;
  }
  .reels {
    padding-top: 50px;
    padding-right: 8px;
  }
}
@media (min-width: 577px) and (max-width: 992px) {
  .signature {
    margin-left: 30px;
    padding-bottom: 0;
    max-height: 300px;
  }
  .links {
    padding-right: 60px;
  }
  .homepage-content {
    padding-top: 200px;
  }
  .homepage h1 {
    font-size: 70px;
    line-height: 1;
  }
  .homepage h2 {
    font-size: 20px;
  }
  .margin-left {
    display: none;
  }
  .links a {
    font-size: 35px;
    line-height: 1.75;
  }

  .chevron {
    bottom: 70px;
  }

  .chevron a {
    font-size: 80px;
  }
  .reels {
    padding-top: 50px;
    padding-right: 65px;
    padding-left: 50px;
  }
  .left-side {
    display: none;
  }
}
